nav{
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
nav a{
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
}